<!DOCTYPE html>
<html>
<head>
  <title>RedPanda</title>
  <%= stylesheet_link_tag    "red_panda/application", :media => "all" %>
  <%= javascript_include_tag "red_panda/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
